/* CSS for Dotifier */
/* Cyrille Medard de Chardon */

p#z1shpop {
	border: 2px solid #d99;
}

p#z2shpop {
	border: 2px solid #ff5;
}

p#z3shpop {
	border: 2px solid #339;
}

/* Palette Overlay */
#overlay_palette {
	z-index: 3;
	position: absolute;
	padding: 4px 1em 1em;
	text-align: center;
	top: 660px;
	left: 520px;
	background-color: rgba(0,0,0,0.5);
}

#overlay p {
	color: white;
	opacity: 1;
}

#overlay_bg {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1470px;
	background-color: rgba(0,0,0,0.5);
	visibility:hidden;
}

a.palicon img {
	margin: 0 0 -5px -4px;
}

a.palicon {
	margin-bottom: 4px;
	color: blue;
}

/* misc */

.examples img {
	border: 1px solid black;
	display: inline;
	margin-bottom: 10px;
}
